*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    
    font-family: 'Glegoo', serif;
    overflow-x: hidden;
   position: relative;
    height: 100%;
}



:root{
    --main-color:#ffbd86;
    --secondary-color:#1b1b1b;

}

section{
    padding: 5%;
    
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;

    svg{
        cursor: pointer;
        z-index: 10;
        line{
        box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.927);}

    }
}

h2{
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
}

hr{
    border: 1px solid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-size: 1.25rem;
    line-height: 125%;
}

.links{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100vh;
    left:0;
    top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    
        
    a{
        color: var(--secondary-color);
        font-size: 2rem;
    }
}

.logo{
    display: flex;
    h1{
        margin-left: 1.5rem;
        text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.727);
        font-size: 1.5rem;
        
    }
    .img{
        width: 2rem;
    }
}

.front-page{
    
    min-height: 100vh;
    color: white;
    img{
        object-fit: cover;
        filter:saturate(0.3);
    }
}

.selling-point{
    margin-top: 25vh;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.727);
    text-align: center;
    
    border-radius: 0.5rem;
    max-width: 50rem;
    
    margin-left: auto;
    margin-right: auto;
    h2{
        padding: 0.5rem 0.5rem;
        text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.727);
    }
    h3{
        font-family:'Open Sans',sans-serif;
        padding: 0.5rem 0.5rem;
        text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.727);
    }
}

.buttons {
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.buttons button{
    padding: 1rem;
    font-size: 1rem;
    
    border-radius: 0.5rem;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.707);
    margin: 0.1rem;
    font-family: 'Glegoo', serif;
    border: solid 2px var(--main-color);

}
.btn-main{
    background-color: var(--main-color);
    color: var(--secondary-color);
    
}
.btn-sec{
    background-color: var(--secondary-color);
    color: white;
    
}

.hero{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

}

.uslugi{
    color: var(--secondary-color);
    text-align: center;
    
    h3{
        font-family:'Open Sans',sans-serif;
    }
   
 
    
}

.videos{
   
    video{
        width: 100%;
        border-radius: 1rem;
        margin-top: 1rem;
        filter:saturate(0.4);
        object-fit: cover;
        box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.707);
        outline: 2px solid var(--main-color);
     outline-offset: -7px;
    }

    .haircut, .beard, .modeling{
        position: relative;
        
        
    }

    h3{
        position: absolute;
        color: var(--main-color);
        text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.727);
        bottom: 10%;
        left:50%;
        transform: translate(-50%,-10%);
        font-size: 2rem;
        z-index: 100;
    }
}


.cennik{
    h2{
    text-align: center;
    color: var(--secondary-color);
    }
}
.cennik-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p{
        text-shadow: 3px 2px 2px rgba(255, 153, 70, 0.727);
        color: var(--secondary-color);
    }
}


.about {
    color: white;
    background-color: var(--secondary-color);
    p{
        line-height: 150%;
        font-size: 1.2rem;
        font-family:'Open Sans',sans-serif;
    }
    img{
        width: 100%;
        margin-top: 2rem;
        border-radius: 1rem;
        box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.707);
        border: solid 2px #ffbd86;
        
    }
    h2{
        text-align: center;
    }
}

.contact{
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    hr{
        margin-top: 1rem;
        color: var(--secondary-color);
    }
    iframe{
        margin-top: 0.5rem;
        width: 95%;
        border-radius: 1rem;
        box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.707);
        min-height: 250px;
        outline: 3px solid var(--secondary-color);
     outline-offset: -1px;
     
     
        
        
    }
    .contact-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:white;
        overflow: hidden;
        min-height: 380px;
        position: relative;
        width: 100%;
     img{
        margin-bottom: 1rem;
        width:95%;
        border-radius: 1rem;
        overflow: hidden;
        object-fit:cover;
        outline: 2px solid white;
     outline-offset: -7px;
     filter: saturate(0.8);
     box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.707);
     
     }
        
        .contact-left{
            
            position: absolute;
            text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.727);
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        
        
        z-index: 100;
       h2{
        font-size: 2.2;
        
        text-align: center;
       }
       p{
        
        text-align: center;
       }
       hr{
        color: white;
        margin-top: 1rem;
        position: relative;
        width: 110%;
        
       }
       
        }
        
    }
    
}
.loader-wrapper{
    width: 100%;
    height: 100% ;
    position: fixed;
    top:0;
    left:0;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    opacity: 1;
    z-index: 1500;
    transition: opacity 0.5s ease;
}

.load-wrapper-finish {
    opacity: 0;
    pointer-events: none;
}

.loader{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    top:50%;
    animation: loader 2s infinite ease;
}

.loader-inner{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #Fff;
    animation: loader-inner 2s infinite ease-in;
}